html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
}

header {
  background-color: #d05c2e;
}

.left, .right {
  width: 40px;
  height: 40px;
}

h1 {
  font-family: Merriweather, serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav li {
  border: 1px solid #a63f38;
  padding: .4rem 0;
  flex: 1;
}

.home {
  border-right: none;
}

.cereals {
  border-right: none;
}

nav li:hover {
  background-color: #a63f38;
}

nav a {
  text-decoration: none;
  font-weight: normal;
  color: #fff;
  font-size: 1.125rem;
  font-family: Merriweather, serif;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: #a63f38;
}
