html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
}

header {
  background-color: #d05c2e;
}

.left, .right {
  width: 40px;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding:0;
  display: flex;
  margin: 0;
}

nav li {
  border: 1px solid #a63f38;
  padding: .4rem 0;
  flex: 1;
}

nav li:hover {
  background-color: #a63f38;
}

nav a {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  font-size:  1.125rem;
  font-family: "Merriweather", serif;
  padding: .5em 0;
}
